#
# {{ ansible_managed }}
#

user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};
pid {{ nginx_pid }}; 

events {
{% for key, value in nginx_events.iteritems() %}
{{ "\t%-30s %s" | format(key, value) }};
{% endfor %}
}

http {
	types_hash_max_size 2048;
	include /etc/nginx/mime.types;
	default_type application/octet-stream;
	
	# From Ansible
{% for key, value in nginx_http.iteritems() %}
{{ "\t%-30s %s" | format(key, value) }};
{% endfor %}
	# /From Ansible

	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*;
}

# vim:filetype=nginx
