#
# {{ ansible_managed }}
#

location ~ \.php$ {
	fastcgi_pass php;
	fastcgi_index index.php;
	fastcgi_intercept_errors on;
	include fastcgi.conf;

	# TODO...
	# Newrelic custom header: https://docs.newrelic.com/docs/apm/other-features/request-queueing/request-queue-server-configuration-examples
	#fastcgi_param HTTP_X_REQUEST_START "t=${msec}";
	# Newrelic custom PHP appname: https://docs.newrelic.com/docs/agents/php-agent/configuration/php-directory-ini-settings#perdir-nginx
	#fastcgi_param PHP_VALUE "newrelic.appname=${host}";
}


# vim:filetype=nginx
