{% set site = nginx_sites | nginx_search_by_ssl_name(item.name) %}
{% set __listen = site.listen | default(['80', '[::]:80']) %}
{% set __http_proxy_protocol_port = site.http_proxy_protocol_port | default([]) %}

server {
{% for port in __listen %}
	listen {{ port }};
{% endfor %}
{% for port in __http_proxy_protocol_port %}
	listen {{ port }} proxy_protocol;
{% endfor %}

	server_name {{ site | nginx_all_site_names | join(" ") }};

	location / {
		return 503;
	}
}
