{% extends "_base.j2" %}

{% block root %}
	root /usr/share/nagios3/htdocs;
{% endblock %}

{% block template_try_files %}
{% endblock %}

{% block template_index %}
	index index.php index.html;
{% endblock %}

{% block template_local_content %}
	location ~ /\.ht {
		deny all;
	}

	location /stylesheets {
		alias /etc/nagios3/stylesheets;
		expires 60d;
	}
{% endblock %}

{% block template_upstream_location %}
	location /cgi-bin/nagios3 {
		root /usr/lib;
		try_files $uri =404;
{% if nginx_version.stdout | version_compare('1.6.1', 'lt') %}
		include fastcgi_params;
{% else %}
		include fastcgi.conf;
{% endif %}
		fastcgi_pass unix:/var/run/fcgiwrap.socket;
		fastcgi_param AUTH_USER $remote_user;
		fastcgi_param REMOTE_USER $remote_user;
	}
	location ~ \.php$ {
		fastcgi_pass php;
		fastcgi_index index.php;
{% if nginx_version.stdout | version_compare('1.6.1', 'lt') %}
		include fastcgi_params;
{% else %}
		include fastcgi.conf;
{% endif %}
	}
{% endblock %}
