{% extends "_php.j2" %}

{% block template_upstream_location %}
	location = /index.php {
		fastcgi_pass php;
		fastcgi_index index.php;
{% if item.upstream_params is defined and item.upstream_params is iterable %}
{% for param in item.upstream_params %}
		{{ param }}
{% endfor %}
{% endif %}
{% if nginx_version.stdout | version_compare('1.6.1', 'lt') %}
		include fastcgi_params;
{% else %}
		include fastcgi.conf;
{% endif %}
	}
{% endblock %}

{% block template_custom_location %}
	location ~ \.(php\d?|phtml)$ {
		return 403;
	}
{% endblock %}
