{% extends "_base.j2" %}
{% block template_index %}
	index {{ item.index | default('index.html index.htm index.php') }};
{% endblock %}

{% block template_try_files %}
		try_files {{ override_try_files | default('$uri $uri/ /index.php') }};
{% endblock %}

{% block template_upstream_location %}
	location ~ \.php$ {
		fastcgi_pass php;
		fastcgi_index index.php;
{% if item.upstream_params is defined and item.upstream_params is iterable %}
{% for param in item.upstream_params %}
		{{ param }}
{% endfor %}
{% endif %}
{% if nginx_version.stdout | version_compare('1.6.1', 'lt') %}
		include fastcgi_params;
{% else %}
		include fastcgi.conf;
{% endif %}
	}
{% endblock %}
