{% extends "_php.j2" %}

{% block template_upstream_location %}
	location = /index.php {
		# {{ php_info }}
		fastcgi_pass {{ php_upstream }};
		fastcgi_index index.php;
{% if item.upstream_params is defined and item.upstream_params is iterable %}
{% for param in item.upstream_params %}
		{{ param }}
{% endfor %}
{% endif %}
		include fastcgi.conf;
	}
{% endblock %}

{% block template_custom_location %}
	location ~ \.(php\d?|phtml)$ {
		return 403;
	}
{% endblock %}
