{% extends "_base.j2" %}

{% block root %}
{% endblock %}

{% block template_index %}
{% endblock %}

{% block template_try_files %}
		return {{ item.redirect_to_code | default('302') }} {{ item.redirect_to }}$request_uri;
{% endblock %}

{% block template_local_content %}
{% endblock %}
