#
# {{ ansible_managed }}
#

server {
{% include 'COMMON.j2' %}

	index index.htm index.html;

	location / {
		try_files $uri $uri/ =404;
	}
	include /etc/nginx/helpers/static-expires;
	include /etc/nginx/helpers/no-ht;
}

{% include 'REDIRECT.j2' %}

# vim:filetype=nginx
