#
# {{ ansible_managed }}
#

server {
{% include 'COMMON.j2' %}

	index index.htm index.html index.php;

	location / {
		try_files $uri $uri/ /index.php?q=$uri&$args;
	}
	include /etc/nginx/helpers/static-expires;
	include /etc/nginx/helpers/no-ht;
	include /etc/nginx/helpers/php;
}

{% include 'REDIRECT.j2' %}

# vim:filetype=nginx
